<div class="container mt-4">
  <h1>{{title}}</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Email Approved</th>
          <th>Admin Approved</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.emailApproved}}</td>
            <td>{{this.adminApproved}}</td>
            <td>
              {{#if this.adminApproved}}
                <button
                  class="btn btn-success"
                  onclick="approveUser('{{this.userId}}')"
                >Disapprove</button>
              {{else}}
                <button
                  class="btn btn-success"
                  onclick="approveUser('{{this.userId}}')"
                >Approve</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  function approveUser(userId) { //Send him to /approve-seller/:userId
  window.location.href = `/admin/approve-seller/${userId}`; }
</script>