    <style>
  /* Custom CSS to set card height */
  .shop-card {
    height: 100%;
  }

  .shop-card .card {
    max-width: 300px; 
  }
</style>

{{#if shops}}
<div class="container">
  <div class="row">
    {{#each shops}}
    <div class="col-md-4 mb-4">
      <div class="card shop-card" id="card" onclick="fetchProducts('{{shopId}}')">
        <img src={{imageLink}} class="card-img-top" alt="{{shopName}}" style="height: 200px; object-fit: cover; object-position: center;">
        <div class="card-body">
          <h5 class="card-title">{{shopName}}</h5>
          <p class="card-text">{{description}}</p>
          <p class="card-text"><small class="text-muted">By {{username}}</small></p>
          {{#if isActive}}
          <span class="badge bg-success">Active</span>
          {{else}}
          <span class="badge bg-danger">Inactive</span>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{else}}
<p>No shops available.</p>
{{/if}}

<script>
  async function fetchProducts(shopId) {
    window.location.href = `/shop/${shopId}/products`;
  }
</script>
</body>
</html>
