<div class="container mt-4">
  <h1>Your Orders</h1>
  {{#if orders}}
    {{#each orders}}
      <div class="card mb-3">
        <div class="card-header">
          <h5>Order Date: {{createdDate}}</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <ul class="list-group">
            {{#each products}}
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-2">
                    <img
                      src="{{imageLink}}"
                      alt="{{name}}"
                      class="img-thumbnail"
                    />
                  </div>
                  <div class="col-md-8">
                    <h6>{{name}}</h6>
                    <p>Price:
                      {{price}}
                      {{currency}}
                      | Quantity:
                      {{quantity}}</p>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
        <div class="card-footer">
          <h5>Total Price: {{totalPrice}} {{products.0.currency}}</h5>
        </div>
      </div>
    {{/each}}
  {{else}}
    <p>No past orders found.</p>
  {{/if}}
</div>