<div class="container mt-4">
  <h1>{{title}}</h1>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Total Spent</th>
          <th>Admin Approved</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{this.username}}</td>
            <td>{{this.email}}</td>
            <td>{{this.totalSpent}}</td>
            <td>{{this.adminApproved}}</td>
            <td>
              {{#if this.adminApproved}}
                <button
                  class="btn btn-danger"
                  onclick="toggleUser('{{this.userId}}')"
                >Disactivate</button>
              {{else}}
                <button
                  class="btn btn-success"
                  onclick="toggleUser('{{this.userId}}')"
                >Activate</button>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<script>
  function toggleUser(userId) { window.location.href =
  `/admin/approve-buyer/${userId}`; }
</script>